<!-- <div class="operaciones">
    <input type="text" [(ngModel)]="campoTexto">
    <p>{{ campoTexto }}</p>
    <button (click)="cambiar()" >cambia valor</button>
</div>


<div class="operaciones">
    <input type="text" [(ngModel)]="persona.nombre" >
    <input type="text" [(ngModel)]="persona.apellido" >
    <input type="number" [(ngModel)]="persona.edad" >
</div>
<div>
    <p>Hola! soy {{persona.nombre}} {{persona.apellido}} y tengo {{persona.edad}} años.</p>
</div>


<div class="operaciones">
    <app-suma [num1]="5" [num2]="2"></app-suma>
    <app-suma [num1]="8" [num2]="4"></app-suma>
    <app-suma [num1]="12" [num2]="52"></app-suma>
</div> -->


<!-- <app-alerta (AlertaPulsada)="onAlertePulsada($event)" ></app-alerta> -->


<!-- <div class="operaciones">
    <app-cronometro (msgTerminado)="cronometroEnd($event)"></app-cronometro>
    <app-cronometro [contador]="12" (msgTerminado)="cronometroEnd($event)">></app-cronometro>
    <app-cronometro [contador]="16" (msgTerminado)="cronometroEnd($event)"></app-cronometro>
</div> -->

<app-tareas></app-tareas>